@charset "utf-8";

/**Font**/

@font-face {
    font-family: "ModernH-L";
    src: url("../font/ModernH-Light.eot");
    src: url("../font/ModernH-Light.eot?#iefix") format("embedded-opentype"),
    url("../font/ModernH-Light.woff") format("woff"),
    url("../font/ModernH-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ModernH-M";
    src: url("../font/ModernH-Medium.eot");
    src: url("../font/ModernH-Medium.eot?#iefix") format("embedded-opentype"),
    url("../font/ModernH-Medium.woff") format("woff"),
    url("../font/ModernH-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ModernH-B";
    src: url("../font/ModernH-Bold.eot");
    src: url("../font/ModernH-Bold.eot?#iefix") format("embedded-opentype"),
    url("../font/ModernH-Bold.woff") format("woff"),
    url("../font/ModernH-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/**Common**/

html {
    overflow-y:scroll;
}
html, body {
    margin:0;
    padding:0;
    background-color:#fff;
    width:100%;
    height:100%;
    font-family:'ModernH-L','Arial','Verdana','sans-serif','Dotum';
    color:#000;
    font-size:12px;
}
hr {
    display:none;
}
img,fieldset {
    border:0 none;
    outline:none;
}
dl,ul,ol,li {
    list-style: none;
}
h1,h2,h3,h4,h5,dl,dt,dd,ul,li,ol,th,td,p,blockquote,form,fieldset,legend,button {
    margin:0;
    padding:0;
    font-weight:normal;
    font-size:12px;
}
table {
    border-collapse:collapse;
    font-size:12px;
}
th {
    color:#000;
    font-family:'ModernH-B';
}
td {
    color:#333;
    font-family: "ModernH-L";
}
a, a:link, a:hover, a:active {
    text-decoration:none;
    outline:0;
    color:#666;
}
input,select,textarea {
    color:#000;
    margin:0;
    padding:0;
    font-size:12px;
    font-family:'ModernH-L','Arial','Verdana','sans-serif','Dotum';
    border:1px solid #e4dcd3;
    width:100%;
    padding:0 10px;
    outline:0;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    box-sizing:border-box;
}

input[type="image"] {
    width:auto;
    padding:0;
    border:none;
}

textarea:disabled, input:not([type]):disabled, input[type="color" i]:disabled, input[type="date" i]:disabled, input[type="datetime" i]:disabled, input[type="datetime-local" i]:disabled, input[type="email" i]:disabled, input[type="month" i]:disabled, input[type="password" i]:disabled, input[type="number" i]:disabled, input[type="search" i]:disabled, input[type="tel" i]:disabled, input[type="text" i]:disabled, input[type="time" i]:disabled, input[type="url" i]:disabled, input[type="week" i]:disabled {
    background-color:#f6f3f2;
    color:#bbb;
    border:none;
}

input::-webkit-input-placeholder {color:#bbb;}
input::-moz-placeholder {color:#bbb;}
input:-ms-input-placeholder {color:#bbb;}
input:-moz-placeholder {color:#bbb;}
textarea {
    padding:20px;
    line-height:18px;
    color:#333;
    font-family:'ModernH-L','Arial','Verdana','sans-serif','Dotum';
    resize:none;
}
input[type="checkbox"], input[type="radio"] {
    opacity:0;
    border:none;
    height:0;
    display:none;
}
input[type="checkbox"]+label {
    width:16px;
    height:15px;
    background:url(../images/btn_check.png) no-repeat;
    background-size:15px 30px;
    cursor:pointer;
    display:inline-block;
}
input[type="radio"]+label {
    width:15px;
    height:15px;
    background:url(../images/btn_radio.png) no-repeat;
    background-size:15px 30px;
    cursor:pointer;
    display:inline-block;
}
input[type="checkbox"]:checked+label, input[type="radio"]:checked+label {
    background-position:0 -15px;
}
input[type="button"], input[type="submit"] {
    border:none;
    outline:none;
    cursor:pointer;
    font-size:12px;
    background:transparent;
    font-family:'ModernH-B','Arial','Verdana','sans-serif','Dotum';
    width:auto;
}


captionm, focus {
    display:none;
}
em {
    font-style: normal;
}
button {
    border:none;
    outline:none;
    cursor:pointer;
    font-size:12px;
    background:transparent;
    font-family:'ModernH-B','Arial','Verdana','sans-serif','Dotum';
}
select {
    background:#fff url(../images/ico_select_arr.gif) no-repeat 99% 50%;
    font-size:12px;
    border:none;
    padding:0 25px 0 10px;
}
select::-ms-expand {
    display: none;
}



/*Color*/
.gray {color:#999 !important;}
.darkgray {color:#666666 !important;}
.red {color:#e63312 !important;}
.orange {color:#ff3300 !important;}
.green {color:#1DDB16 !important;}
.blue {color:#002c5f !important;}
.black {color:#000 !important;}
.a_blue {color:#00aad2 !important;}

/*Padding*/
.pp10 {padding:10px !important;}
.pp20 {padding:20px !important;}
.pp40 {padding:40px !important;}
.p5 {padding:0 5px !important;}
.p10 {padding:0 10px !important;}
.pl5 {padding-left:5px !important;}
.pl10 {padding-left:10px !important;}
.pl15 {padding-left:15px !important;}
.pl20 {padding-left:20px !important;}
.pl30 {padding-left:30px !important;}
.pr3 {padding-right:3px !important;}
.pr5 {padding-right:5px !important;}
.pr10 {padding-right:10px !important;}
.pr15 {padding-right:15px !important;}
.pr20 {padding-right:20px !important;}
.pt3 {padding-top:3px !important;}
.pt5 {padding-top:5px !important;}
.pt10 {padding-top:10px !important;}
.pt12 {padding-top:12px !important;}
.pb3 {padding-bottom:3px !important;}
.pb5 {padding-bottom:5px !important;}
.pb10 {padding-bottom:10px !important;}
.pb20 {padding-bottom:20px !important;}
.pb50 {padding-bottom:50px !important;}
.pb_20 {padding-bottom:-20px !important;}
.pl_10 {padding-left:-10px !important;}
.ptb50 {padding:50px 0 !important;}
.pt100 {padding-top:100px !important;}
.pb100 {padding-bottom:100px !important;}
.ptb100 {padding:100px 0 !important;}

/*Margin*/
.m10 {margin:10px !important;}
.ml0 {margin-left:0px !important;}
.ml3 {margin-left:3px !important;}
.ml5 {margin-left:5px !important;}
.ml10 {margin-left:10px !important;}
.mt0 {margin-top:0px !important;}
.mt5 {margin-top:5px !important;}
.mt10 {margin-top:10px !important;}
.mt15 {margin-top:15px !important;}
.mt20 {margin-top:20px !important;}
.mt24 {margin-top:24px !important;}
.mt30 {margin-top:30px !important;}
.mb0 {margin-bottom:0px !important;}
.mb5 {margin-bottom:5px !important;}
.mb10 {margin-bottom:10px !important;}
.mb20 {margin-bottom:20px !important;}
.mb50 {margin-bottom:50px !important;}
.mr3 {margin-right:3px !important;}
.mr5 {margin-right:5px !important;}
.mr10 {margin-right:10px !important;}
.mr15 {margin-right:15px !important;}
.mr20 {margin-right:20px !important;}
.mt1 {margin-top:-1px !important;}
.mr_3 {margin-left:-3px !important;}
.mt_20 {margin-top:-20px !important;}

/*Font*/
.f11 {font-size:11px !important;}
.f12 {font-size:12px !important;}
.f14 {font-size:14px !important;}
.f18 {font-size:18px !important;}
.fb {font-weight:bold !important;}

/*Align*/
.tl {text-align:left !important;}
.tc {text-align:center !important;}
.tr {text-align:right !important;}
.fl {float:left;}
.fr {float:right;}

/*Width*/
.w30 {width:29% !important;}
.w40 {width:39% !important;}
.w50 {width:49% !important;}
.w60 {width:59% !important;}
.w70 {width:69% !important;}
.w80 {width:79% !important;}
.w90 {width:89% !important;}
.w100 {width:100% !important;}
.w33 {width:32% !important;}
.div2 {width:50% !important;}
.div3 {width:33.333% !important;}
.div4 {width:24.7% !important;}
.div5 {width:20% !important;}

.none {display:none !important;}

#wrap {width:100%;  min-width:1200px;}

/**Login**/
.login_visual_wrap {text-align:center; background:url(../images/bg_login_top.jpg) no-repeat; width:100%; height:324px; background-size:cover;}
.login_visual_wrap > div {background-color:rgba(255,255,255,.6); margin:0 60px; height:274px; background-size:cover; position:relative; top:50px; text-align:center;}
.login_visual_wrap .title {display:table; color:#000; font-size:50px; font-family:'ModernH-M'; width:1120px; height:100%; margin:0 auto;}
.login_visual_wrap .title h1 {display:table-cell; vertical-align:middle; font-size:50px; font-family:'ModernH-M';}
.login_visual_wrap .title h2 {font-size:26px; font-family:'ModernH-L'; position:relative; top:-5px;}

.login_input_wrap {margin:100px auto 0; width:526px !important; position:relative;}
.login_input_wrap ul {display:inline-block;}
.login_input_wrap li {width:370px; height:50px; margin:0 auto 18px; text-align:left; position:relative; background-color:#f6f3f2;}
.login_input_wrap li input {width:320px; height:51px; font-size:15px; outline:none; border:none; margin-left:40px; color:#333; font-family:'ModernH-L'; background-color:#f6f3f2;}
.login_input_wrap li img {position:absolute; top:14px; left:15px;}
.login_input_wrap .btn_login {background:#002c5f; color:#fff; font-size:24px; display:table-cell; width:142px; height:120px; line-height:120px; text-align:center; font-family:'ModernH-L'; vertical-align:middle; position:absolute; top:0; right:0;}

.link_wrap {width:526px !important; margin:0 auto;}
.link_wrap table {width:100%;}
.link_wrap td {padding:12px 10px 12px 0;}
.link_wrap td a {font-size:13px; color:#000; font-family:'ModernH-L';}
.link_wrap td a:hover {text-decoration:underline;}
.link_wrap td a:after {content:''; background:url(../images/ico_arrow.gif) no-repeat; width:5px; height:9px; display:inline-block; margin-left:10px;}

/**Header**/
#header_wrap {background-color:#f6f3f2; position:relative; width:100%; min-width:1200px;}
.header {width:1120px; height:50px; margin:0 auto; position:relative;}
.header h1 {display:inline-block; position:relative; top:15px; cursor:pointer;}
.header .top_right {position:absolute; right:0; top:11px;}
.header .top_right a {display:inline-block; color:#000; margin:0 12px;}
.header .top_right select {width:140px; height:29px;}

/**Contents**/
#contents {padding:0 0 65px; width:1120px; margin:0 auto;}
#main_contents {background-color:#f6f3f2;}
/*#contents > div {width:1120px; margin-left:auto; margin-right:auto;}*/

/**Footer**/
#footer_wrap {background:#999; width:100%; padding:25px 0; color:#ddd; font-size:12px; position:fixed; bottom:0; z-index:15;}
.footer {width:1120px; margin:0 auto;}


/*Button*/
.btn_bottom {margin:50px 0; text-align:center;}
.btn_bottom button {font-size:18px; color:#fff; padding:0 30px; text-align:center; min-width:140px; background-color:#002c5f; line-height:45px;}

.btn_bottom button+button {margin-left:10px;}
.btn_bottom .bt_gray {background-color:#999;}
.btn_bottom.pop {padding:20px 0; border-top:1px solid #ddd; margin:0;}
.btn_bottom.pop button {font-size:16px;}
.btn button {background-color:#002c5f; height:34px; width:100%; color:#fff; font-size:13px;}
.btn .bt_gray {background:#999;}
.btn.btn_top {margin-bottom:7px; text-align:right;}
.btn.btn_top button {display:inline-block; width:110px;}

.btn_bottom {margin:50px 0; text-align:center;}
.btn_bottom input[type="button"] {font-size:18px; color:#fff; padding:0 30px; text-align:center; min-width:140px; background-color:#002c5f; line-height:45px;}
.btn_bottom input[type="button"]+input[type="button"] {margin-left:10px;}
.btn_bottom input[type="submit"] {font-size:18px; color:#fff; padding:0 30px; text-align:center; min-width:140px; background-color:#002c5f; line-height:45px; width:auto;}
.btn_bottom input[type="submit"]+input[type="submit"] {margin-left:10px;}
.btn_bottom input.bt_gray {background-color:#999;}
.btn_bottom.pop {padding:20px 0; border-top:1px solid #ddd; margin:0;}
.btn_bottom.pop input[type="button"] {font-size:16px;}
.btn input[type="button"] {background-color:#002c5f; height:34px; width:100%; color:#fff; font-size:13px;}
.btn input[type="submit"] {background-color:#002c5f; height:34px; width:100%; color:#fff; font-size:13px;}
.btn input[type="button"]:disabled, .btn input[type="submit"]:disabled {background-color:#ddd; color:#bbb; cursor:default;}
.btn input.bt_gray {background:#999;}
.btn.btn_top {margin-bottom:7px; text-align:right; position:relative;}
.btn.btn_top input[type="button"] {display:inline-block; min-width:110px; height:29px; width:inherit;}
.btn.btn_top input[type="submit"] {display:inline-block; min-width:110px; height:29px; width:inherit;}
.btn.btn_top .left {position:absolute; left:0;}

/*Title*/
.top_box {position:relative; margin:25px 0 7px;}
.title {font-size:20px; font-family:'ModernH-M'; color:#000; display:inline-block;}
.req_box {position:absolute; right:0; bottom:5px; padding-left:8px; font-family:'ModernH-M';}
.req_box .required {left:0;}

/*Input Form*/
.input_wrap {margin:0 0 50px;}
.input_wrap table {border-top:1px solid #bbb; width:100%;}
.input_wrap th {text-align:left; font-size:14px; padding:10px; width:230px;}
.input_wrap td {padding:10px; height:34px;}
.input_wrap td .tooltip_wrap {margin:0; width:100%; height:auto;}
.input_wrap td .tooltip_wrap .code input {width:40px; margin-right:4px; text-align:center;}
.input_wrap td .tooltip {display:inline-block;}
.input_wrap input[type="text"] {height:34px; line-height:34px; font-size:13px;}
.input_wrap label {padding-right:8px; position:relative;}
.input_wrap .required {font-size:0; width:6px; height:5px; background:url(../images/ico_req.png) no-repeat; background-size:6px auto; display:inline-block; position:absolute; top:0; right:0;}
.input_wrap .noti {margin:5px 0; color:#000;}
.input_wrap .noti img {position:relative; top:4px; margin-right:5px;}
.input_wrap .btn {width:80px;}
.input_wrap .btn button {background-color:#002c5f; height:34px; width:100%; color:#fff; font-size:13px;}
.input_wrap .btn input[type="button"] {background-color:#002c5f; height:34px; width:100%; color:#fff; font-size:13px;}
.input_wrap select {background-color:#f6f3f2; height:34px;}
.input_wrap .date {display:inline-block; position:relative; width:120px;}
.input_wrap .date input[type="text"] {width:100%;}
.input_wrap .date:last-child {position:absolute; right:6px;}
.input_wrap .date img {position:absolute; right:10px; top:9px; cursor:pointer;}
.input_wrap .check * {vertical-align:middle;}
.input_wrap .check {text-align:left; display:inline-block; width:60px;}
.input_wrap input[type="checkbox"]+label, .input_wrap input[type="radio"]+label {padding:0 0 0 22px; line-height:17px; font-size:13px;}
.input_wrap textarea {padding:10px;}
